// Fonts

$font-family: "Inter", sans-serif;
$second-family: "SF Pro Text", sans-serif;

// Colors

$black-color: #000;
$white-color: #fff;
$banner-subtitle__color: #f9f9fb;
$banner-btn-text__color: #555351;
$green-color: #01b16d;
$katalog-text__color: #1c1917;
$quality-color: #e0f5ed;
$advantage-color: #41c592;
$blog-color: #8d8c8b;

// Sizes

$container-width: 1400px;
$container-padding: 20px;