.header {
    padding: 10px 0;
    background: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    height: 85px;
    z-index: 100;

    &-row {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-logo {
        width: 150px;
        height: 70px;

        img {
            width: 100%;
            height: 100%;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &-links {
        width: 45%;
        display: flex;
        align-items: center;
        column-gap: 36px;
    }


    &-link {
        font-family: $font-family;
        font-weight: 500;
        font-size: 14px;
        color: $white-color;
        position: relative;
        text-decoration: none;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            border-radius: 4px;
            background-color: $white-color;
            bottom: -5px;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
        }

        &:hover::before {
            transform-origin: left;
            transform: scaleX(1);
        }
    }

    &-buttons {
        width: 180px;
        height: 50px;
        display: flex;
        align-items: center;
        column-gap: 15px;
    }

    &-selector {
        border-radius: 8px;
        padding: 12px 14px;
        background: rgba(255, 255, 255, 0.32);
        outline: none;
        border: none;
        font-family: $font-family;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: $white-color;
        -webkit-appearance: none;
    }

    &-button {
        border-radius: 8px;
        padding: 12px 32px;
        background: rgba(255, 255, 255, 0.32);
        font-family: $font-family;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: $white-color;
    }

    &-mobile {
        display: none;
    }
}

.header.fixed {
    background: linear-gradient(360deg, #01b16d 38.83%, #41c491 100%);
}

// MEDIA - QUERIES - START

@include media(1070) {
    .header {
        &-logo {
            width: 110px;
            height: 60px;
        }

        &-links {
            column-gap: 28px;
        }

        &-link {
            font-size: 10px;
        }

        &-selector {
            padding: 8px 10px;
            font-size: 12px;
        }

        &-button {
            padding: 8px 28px;
            font-size: 12px;
        }
    }
}

@include media(820) {
    .header {
        &-logo {
            width: 90px;
            height: 60px;
        }

        &-links {
            column-gap: 26px;
        }

        &-link {
            font-size: 9px;
        }
    }
}

@include media(768) {
    .header {
        &-logo {
            width: 99px;
            height: 50px;
        }

        &-links {
            display: none;
        }

        &-buttons {
            display: none;
        }

        &-mobile {
            display: block;
            width: 24px;
            height: 18px;
        }
    }
}

// MEDIA - QUERIES - END